{% extends 'workspace/base.html' %}

{% block title %}| Create new tag{% endblock title %}

{% block work_content %}

    <h3 class="mb-4">Create new tag:</h3>
    <div>
        <form action="{% url 'workspace_create_tag' %}" method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <lable for="name_input">Name <span class="text-danger">*</span></lable>
                <input type="text" name="name" id="name_input"  class="form-control">
            </div>
            <div>
                <button type="submit" class="btn btn-primary d-block w-100">Create</button>
            </div>
            {% if message %}
                <div class="mt-4 text-danger text-center">
                    <i class="fa-solid fa-circle-exclamation"></i> {{ message }}
                </div>
            {% endif %}
        </form>
    </div>

{% endblock work_content %}