{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 col-lg-3">
                {% include 'components/sidebar.html' %}
            </div>
            <div class="col-12 col-md-8 col-lg-9">
                <div class="row mb-5">
                    {% for news in news_list %}
                        <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-3">
                            <div class="card">
                                <img src='{{ news.image.url }}' class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">{{ news.id }}. {{ news.name }}</h5>
                                    <p>
                                        {{ news.category.name }} -
                                        <i class="fa-solid fa-eye"></i> {{ news.views }}
                                    </p>
                                    <p class="card-text">{{ news.description }}</p>
                                    <p>
                                        {% for tag in news.tags.all %}
                                            <a href="?tag={{ tag.id }}">{{ tag.name }}</a> /
                                        {% endfor %}
                                    </p>
                                    <a href="{% url 'detail_news' id=news.id %}" class="btn btn-primary">View</a>
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <div class="col-12 text-center">
                            <h3>No News</h3>
                        </div>
                    {% endfor %}
                     {% include 'components/news_pagination.html' %}
                </div>
            </div>
        </div>
    </div>

{% endblock content %}