{% if news_list.has_previous or news_list.has_next %}
    <nav>
        <ul class="pagination">
            {% if news_list.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="#" onload="makeNextUrl(this, {{ news_list.previous_page_number }})">
                        <i class="fa-solid fa-angle-left"></i>
                    </a>
                </li>
            {% endif %}

            {% for i in news_list.paginator.page_range %}
                {% if news_list.number == i %}
                    <li class="page-item active">
                        <span class="page-link">{{ i }}</span>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="#" onload="makeNextUrl(this, {{ i }})">{{ i }}</a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if news_list.has_next %}
                <li class="page-item">
                    <a class="page-link" href="#" onload="makeNextUrl(this, {{ news_list.next_page_number }})">
                        <i class="fa-solid fa-angle-right"></i>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>

    <script>

        const makeNextUrl = (element, offset = 1) => {
            console.log(element, offset)
            const url = new URL(window.location.href)
            const params = Object.fromEntries(url.searchParams)
            params.offset = offset
            element.href = new URLSearchParams(params).toString();
        }

    </script>

{% endif %}